/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
}

.grid-item {
    height: 50px;
    color: white;
}

.on {
    background: #ffd712;
}

.off {
    background: #000000;
}
